
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/modules.xml
.idea/Pygame-Snake.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/game.cpython-310.pyc
__pycache__/game.cpython-310.pyc
*.pyc
__pycache__/game.cpython-310.pyc
